<div style="padding: 30px 0px 0px 100px"> <!-- TODO change -->
  <h3>Please fill your data</h3>
  <br>
  <form
    [formGroup]="loginDataForm"
  >
    <p>
      Username*:
      <input
        [formControlName]="FORM_CONTROLS.USERNAME"
      >

      <span
        *ngIf="hasError(FORM_CONTROLS.USERNAME)"
        style="color: #f00"
      >Field required</span>
    </p>
    <p>
      Password*:
      <input
        [formControlName]="FORM_CONTROLS.PASSWORD"
      >
      <span
        *ngIf="hasError(FORM_CONTROLS.PASSWORD)"
        style="color: #f00"
      >Field required</span>
    </p>
  </form>
</div>
<br>
<div style="float: right; margin-right: 50px;">
  <button
    (click)="triggerLogin()"
  >LOGIN</button>
</div>
