<div class="login-container">
  <h3>Please fill your data</h3>
  <br>
  <form
    [formGroup]="loginDataForm"
  >
    <p>
      Username*:
      <input
        [formControlName]="FORM_CONTROLS.USERNAME"
      >

      <span
        *ngIf="hasError(FORM_CONTROLS.USERNAME)"
        class="field-error"
      >Field required</span>
    </p>
    <p>
      Password*:
      <input
        [formControlName]="FORM_CONTROLS.PASSWORD"
      >
      <span
        *ngIf="hasError(FORM_CONTROLS.PASSWORD)"
        class="field-error"
      >Field required</span>
    </p>
  </form>
</div>
<br>
<div class="login-button-container">
  <button
    (click)="triggerLogin()"
  >Login</button>
</div>
