div.spinner i {
  display: block;
  border-radius: 50%;
  border: 5px solid #f90;
  border-bottom-color:transparent;
  animation: spinner 0.75s infinite linear;
  width: 1em;
  height: 1em;
}

.spinner {
  font-size: 40px;
  width: 1em;
  height: 1em;
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
}

@keyframes spinner {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}

div.curriencies-container {
  margin-left: 20px;
}
